/* Header.css */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f80000;
    text-decoration: none;
}

.nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-items {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #f80000;
}

.profile-container {
    position: relative;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 150px;
    z-index: 10;
}

.dropdown-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.dropdown-link:hover {
    background-color: #000000;
    color: #fff;
}

/* Адаптивность */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .nav-items {
        flex-direction: column;
        gap: 10px;
    }
}