/* Home.css */

.home-banner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 0 20px;
}

.welcome-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный фон */
    border-radius: 10px;
    padding: 20px;
}

.welcome-text {
    max-width: 50%;
    color: #213547; /* Темный цвет текста */
}

.welcome-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.welcome-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #5c6bc0;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #3f51b5;
}

.welcome-image {
    position: relative;
    max-width: 45%;
}

.welcome-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.welcome-image:hover .image-overlay {
    opacity: 1;
}

.image-overlay p {
    font-size: 1.5rem;
    font-weight: bold;
}